*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 50%;
    height: 600px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

}
.container .box{
    width: 100%;
    height: 200px;
    padding: 3%;
}
.container .box .top{
    width: 100%;
    height: 150px;
    background-color: green;
}
.container .box .under{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}